* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #FF9E44;
    --info-color: #555555;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h2,
li {
    font-weight: 300 !important;
}

img {
    display: block;
}

/* Header section ================================================================================================================ */
#header {
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg/bg-1.png) center/cover;
    padding-top: 40px;
}

.nav {
    width: fit-content;
    background: var(--secondary-color);
    margin: 0 0 0 auto;
    padding: 20px 50px;
}

.nav li {
    margin: 0 25px;
}

.nav a {
    text-transform: uppercase;
    color: var(--primary-color);
}

.header-main-wrap {
    width: fit-content;
}

.header-main {
    width: fit-content;
    background: var(--secondary-color);
    padding: 40px;
    margin-top: 100px;
}

.header-main p {
    color: #949494;
}

.header-info-wrap {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info-wrap-m {
    padding-left: 30px;
}

.header-call {
    padding: 26px;
    background: var(--secondary-color);
    margin: -104px 0 0 auto;
    width: fit-content;
}

/* Info section ================================================================================================================ */
#info p {
    text-align: center;
    color: var(--info-color);
}

/* Tech info section ================================================================================================================ */
.tech-info-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

/* .tech-info-wrap ul {
    list-style-image: url(../img/icons/dot.png);
} */

.tech-info-wrap ul li:first-of-type {
    margin-bottom: 50px;
    color: var(--primary-color);
}

.tech-info-wrap li:not(:first-of-type) {
    color: var(--info-color);
    background: url(../img/icons/dot.png) no-repeat left center;
    padding-left: 40px;
}

.tech-info-wrap li span {
    color: var(--primary-color);
}

/* Gallery section ================================================================================================================ */
.gallery-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.gallery-wrap>div {
    position: relative;
}

.gallery-wrap img {
    display: block;
    width: 100%;
}

.room-info {
    padding: 15px 50px;
    background: var(--secondary-color);
    position: absolute;
    left: -1px;
    bottom: 0;
}

/* Location section ================================================================================================================ */
#location h2 {
    text-align: left !important;
}

#location .underline {
    margin: 20px 0 80px;
}


.location-wrap {
    grid-template-columns: 1fr 1fr;
}

.location-right {
    padding: 0 100px;
}

.location-icons-wrap {
    margin-top: 30px;
}

.location-icons-wrap p {
    color: var(--info-color);
    margin-left: 20px;
}

/* Utility classes ========================================================================================================== */
section {
    padding: 150px 0 50px;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1600px;
}

.flex-container {
    display: flex;
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.grid-container {
    display: grid;
}

.text-xs {
    font-size: 20px;
}

.text-sm {
    font-size: 35px;
}

.text-md {
    font-size: 30px;
}

.text-lg {
    font-size: 50px;
}

.text-xl {
    font-size: 60px;
}

.btn {
    background: var(--accent-color);
    padding: 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    display: inline-block;
    margin-top: 50px;
    min-width: 100%;
}

.section-headline {
    text-align: center;
}

.underline {
    width: 200px;
    height: 5px;
    background: var(--accent-color);
    margin: 20px auto 80px;
}
